body {
    text-align: center;
}

.box {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 2rem;
   
}
.btn-container {
    display: flex;
    justify-content: center;
}
.red{
    background-color: #fe0404;
}
.yellow{
    background-color: #f6fe04;
}
.blue{
    background-color: #0421fe;
}
.green{
    background-color: #32fe04;
}
.flash {
    background-color: #fff;
}
.userFlash {
    background-color: aqua;
}